<!-- <button type="button" class="actionBtn" id="chatToggle""> -->
  
  
  <a type="button" href="https://wa.me/972549045216" target="_blank" class="actionBtn" id="chatToggle" aria-label="צ׳אט ב-WhatsApp">

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_4727" data-name="Group 4727" width="65" height="57.642" viewBox="0 0 65 57.642">
        <defs>
          <clipPath id="clip-path">
            <rect id="Rectangle_4574" data-name="Rectangle 4574" width="65" height="57.642" fill="none"/>
          </clipPath>
        </defs>
        <g id="Group_4726" data-name="Group 4726" clip-path="url(#clip-path)">
          <path id="Path_4343" data-name="Path 4343" d="M110.305,77.551a1.818,1.818,0,0,1-1.083-.358L96.249,67.58H74.665a1.818,1.818,0,0,1,0-3.637H96.849a1.817,1.817,0,0,1,1.083.358L108.5,72.13l.02-6.374a1.818,1.818,0,0,1,1.818-1.813,3.337,3.337,0,0,0,3.333-3.333V34.7a3.337,3.337,0,0,0-3.333-3.333,1.818,1.818,0,0,1,0-3.637,6.978,6.978,0,0,1,6.97,6.97V60.61a6.982,6.982,0,0,1-5.156,6.731l-.026,8.4a1.819,1.819,0,0,1-1.818,1.813" transform="translate(-52.306 -19.909)" fill="red"/>
          <path id="Path_4344" data-name="Path 4344" d="M47.629,0H6.97A6.978,6.978,0,0,0,0,6.97V32.881a6.973,6.973,0,0,0,5.161,6.733L5.23,50.925a1.818,1.818,0,0,0,2.966,1.4l14.12-11.5a4.356,4.356,0,0,1,2.742-.975H47.629a6.978,6.978,0,0,0,6.97-6.97V6.97A6.978,6.978,0,0,0,47.629,0m-32.6,23.8a3.819,3.819,0,1,1,3.819-3.819A3.819,3.819,0,0,1,15.029,23.8m12.274,0a3.819,3.819,0,1,1,3.819-3.819A3.819,3.819,0,0,1,27.3,23.8m12.365,0a3.819,3.819,0,1,1,3.819-3.819A3.819,3.819,0,0,1,39.668,23.8"/>
        </g>

     
      </svg>
    </a>
     <!-- </button> -->


<!-- Chat Window -->
<div id="chatWindow" class="chat-container hidden">
  <div class="chat-header">
      <button class="close-chat btn btn-close"></button>
  </div>
  <div class="chat-body" id="chatMessages"></div>
  <div class="chat-footer">
      <input type="text" id="chatInput" placeholder="הקלד הודעה..." />
      <button id="sendChat">שלח</button>
  </div>
</div>