    
        <ul>
            <li>
                <a href="/account" class="active">
                    
                
                    האינוקים שלי</a>
            </li>
            <li>
                <a href="/user/settings">
        
                    הגדרות משתמש</a>
            </li>
            <li>
                <a href="/user/warranty" title="תעודות אחריות">

        
  
                            תעודות אחריות
                </a>
            </li>

            <li>
                <a href="" title="דברנו איתנו בוואטסאפ">

                        
                            פתיחת כרטיס תמיכה
                </a>
            </li>

            <li>
                <a href="" title="דברנו איתנו בוואטסאפ">
                            התנתק
                </a>
            </li>
        </ul>