<%- include("./partials/navbar.ejs", { customClass: "bg-dark"}) %>


<main id="dash-404">

    <%- optimizeImage("/optimized/404.svg", "404", 'lazyload') %>
    <h1>התוכן שחיפשתם לא זמין או לא נמצא!</h1>

    <p>
        העמוד שאתם רואים עכשיו אומר לנו שאו שעשיתם משהו לא נכון או שהתוכן שהיה כאן בעבר לא זמין יותר.
        <br>
        אם אתם בטוחים שאתם אמורים לראות משהו צרו איתנו קשר.
    </p>
    <a href="/" class="btn btn-light mt-3">מעבר לעמוד הראשי</a>


</main>

