// Variables
$background-light: rgba(238, 238, 238, 0.65);
$background-white: #fff;
$border-radius-large: 1em;
$border-radius-small: 0.75em;
$blur-effect: 17px;
$font-weight-bold: 600;
$icon-size: 1.7em;
$spacing-small: 0.35em;
$spacing-medium: 0.5em;
$spacing-large: 1.5em;

// Main Map Page Container
#mapPage {
  display: flex;
  height: 100%;
  position: relative;
}

// Map Form Styles
#mapForm {
  position: absolute;
  left: $spacing-large;
  z-index: 2;
  top: 1em;
}

// Filter Container Styles
#mapFilter {
  padding: $spacing-medium 0;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  flex-wrap: wrap;

  .text {
    background: $background-light;
    padding: $spacing-medium 1em;
    border-radius: $border-radius-small;
    backdrop-filter: blur($blur-effect);
    -webkit-backdrop-filter: blur($blur-effect);
    font-weight: $font-weight-bold;
  }

  .filter {
    background: $background-white;
    border-radius: $border-radius-large;
    padding: $spacing-small 0.75em $spacing-small $spacing-medium;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: $spacing-medium;

    svg {
      margin-left: $spacing-small;
      width: $icon-size;
    }
  }
}

// Map Container Styles
#map {
  width: 100%;
  height: calc(100vh - 56px);
}


#mapInfo.show {
  display: flex
;
}

#mapInfo {
  display: none;
  flex-direction: column;
  background: #fff;
  border-radius: 1em;
  position: absolute;
  right: 1.5em;
  top: 2em;
  z-index: 3;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, .2);
  width: 23em;
  max-width: 400px;
}

#mapInfoHeader {
  padding: .75em 1em .5em .5em;
  display: flex
;
  align-items: center;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 2px;
}

#mapInfoHeader .item.show {
  display: flex
;
}

.info a{
  color: #393c41;
  font-weight: 400;
  margin-right: 1em;
}

#mapInfoHeader .item svg {
  width: 1.7em;
  margin-right: .25em;
}

#mapInfoHeader .btn-close {
  font-size: .7em;
}

#mapInfoContent, .list-dealer {
  padding: .2em 1em 1em;
}

#mapInfoContent h2 {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  padding-bottom:.4em ;
}

#mapInfoContent h2 small{
  color: #495057;
}

.main-content a{
  align-items: center;
  background-color: rgba(0, 0, 0, .05);
  border-radius: 8px;
  color: #5c5e62;
  display: flex;
  gap: 10px;
  height: 50px;
  justify-content: center;
  padding: 8px 7px;
  width: 57px;
}



.main-content svg{
  width: 2em;
}


@media (max-width: 768px) {
  #mapInfo{
    width: 100%;
    max-width: 100%;
    right: 0;
  
  }
}