<div id="paginationContainer" class="pagination-wrapper">
    <button id="prevButton" class="pagination-btn" disabled>
      <svg viewBox="0 0 20 20" focusable="false" aria-hidden="true" width="16" height="16" fill="currentColor">
        <path fill-rule="evenodd" d="M7.72 14.53a.75.75 0 0 1 0-1.06l3.47-3.47-3.47-3.47a.75.75 0 0 1 1.06-1.06l4 4a.75.75 0 0 1 0 1.06l-4 4a.75.75 0 0 1-1.06 0Z"></path>
      </svg>
    </button>
  
    <span id="paginationInfo"></span> <!-- You can use this to show pagination info if needed -->
  
    <button id="nextButton" class="pagination-btn" disabled>
      <svg viewBox="0 0 20 20" focusable="false" aria-hidden="true" width="16" height="16" fill="currentColor">
        <path fill-rule="evenodd" d="M11.764 5.204a.75.75 0 0 1 .032 1.06l-3.516 3.736 3.516 3.736a.75.75 0 1 1-1.092 1.028l-4-4.25a.75.75 0 0 1 0-1.028l4-4.25a.75.75 0 0 1 1.06-.032Z"></path>
      </svg>
    </button>
  </div>