<div class="user-serach-input" style="display: none;">

    <div class="border-bottom p-2 text-center d-flex">
      <input type="search" class="form-control"  name="search" placeholder="<%- placeholder  %>" id="tableUserSearchInput">
      <button class="btn closeSearch">בטל</button>
    </div>
  </div>

  <div class="d-flex p-2 align-items-center">
       <a class="me-auto d-flex search-btn rounded openSearch">
          <svg style="fill: black;" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path fill-rule="evenodd" d="M12.323 13.383a5.5 5.5 0 1 1 1.06-1.06l2.897 2.897a.75.75 0 1 1-1.06 1.06l-2.897-2.897Zm.677-4.383a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"></path></svg> <svg style="fill: black;" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M3 6a.75.75 0 0 1 .75-.75h12.5a.75.75 0 0 1 0 1.5h-12.5a.75.75 0 0 1-.75-.75Z"></path><path d="M6.75 14a.75.75 0 0 1 .75-.75h5a.75.75 0 0 1 0 1.5h-5a.75.75 0 0 1-.75-.75Z"></path><path d="M5.5 9.25a.75.75 0 0 0 0 1.5h9a.75.75 0 0 0 0-1.5h-9Z"></path>
          </svg>
      </a>
  </div>