
    <table class="table" data-table-manager="<%= tableManager %>">
        <thead>
            <tr>
                <% headers.forEach(header => { %>
                    <th scope="col"><%= header %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody id="tBody">
      
        </tbody>
    </table>

