<table class="table" data-table-manager="support">
    <thead>
      <tr>
        <th>#</th>
        <th>שם מודל</th>
        <th>תמונה</th>
        <th>לוגו</th>
        <th>כמות סרטונים</th>
      </tr>
    </thead>
    <tbody id="tBody">

    </tbody>
</table>

