<div id="calendar-skeleton">
    <% for(let i = 0; i < 6; i++) { %>
        <div class="skeleton-row">
            <% for(let j = 0; j < 7; j++) { %>
                <div class="skeleton-col"></div>
            <% } %>
        </div>
    <% } %>
</div>