<div id="table-skeleton">
    <% for(let i = 0; i < 6; i++) { %> <!-- 6 Rows -->
        <div class="skeleton-row">
            <% for(let j = 0; j < 8; j++) { %> <!-- 8 Columns -->
                <div class="skeleton-col"></div>
            <% } %>
        </div>
    <% } %>
</div>
